@using ExamPortal.Features.Reports.Dialogs
<MudContainer Class="reports-container">
    <h1>Reports</h1>

    <MudTabs Color="Color.Info" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="No Of Students Per Module">
            <NoOfStudentsPerModule/>
        </MudTabPanel>
        <MudTabPanel Text="Students Writing in a Date Range">
            <StudentsWritingInADateRange/>
        </MudTabPanel>
        <MudTabPanel Text="Staff Members on Duty">
            <StaffMembersOnDuty/>
        </MudTabPanel>
        <MudTabPanel Text="Exams Written Per Module">
            <ExamsWrittenPerModule/>
        </MudTabPanel>
    </MudTabs>
</MudContainer>


@code {

    [Inject]
    private IDialogService DialogService { get; set; } = default!;

    [Inject]
    private IJSRuntime JsRuntime { get; set; } = default!;

    private void OpenNoStudentsPerModuleDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, DisableBackdropClick = true };
        DialogService.Show<NumberOfStudentsPerModuleDialog>("Number Of Students Per Module Report", options);
    }

    private void OpenStaffMemberOnDutyDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, DisableBackdropClick = true };
        DialogService.Show<StaffMemberOnDutyDialog>("Staff Members On Duty Report", options);
    }

    private void OpenStudentModulesDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, DisableBackdropClick = true };
        DialogService.Show<StudentModulesDialog>("Students Writing Count in Date Range", options);
    }

    private async void ExportTotalExamsWrittenPerModule()
    {
        var url = $"ExcelReports/totalExamsWrittenPerModule/";
        await JsRuntime.InvokeVoidAsync("open", url, "_blank");
    }

}